@tailwind base;
@tailwind components;
@tailwind utilities;

/*Global*/

:root {
  font-family: Syne;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #16171c;
}

body {
  margin: 0px !important;
  max-width: 100%;
}

/*Colores*/
.rojo-intenso {
  color: #d32f2f;
}

.rojo-intenso-bg {
  background-color: #d32f2f;
}

.rojo-alerta {
  color: #e53935;
}

.rojo-alerta-bg {
  background-color: #e53935;
}

.blanco {
  color: #fff;
}

.blanco-bg {
  background-color: #fff;
}

.blanco-suave {
  color: #f5f5f5;
}

.blanco-suave-bg {
  background-color: #f5f5f5;
}

.fondo {
  color: #16171c;
}

.fondo-bg {
  background-color: #16171c;
}

.fondo-alternativo {
  color: #1e1e1e;
}

.fondo-alternativo-bg {
  background-color: #1e1e1e;
}

.gris-carbon {
  color: #292929;
}

.gris-carbon-bg {
  background-color: #292929;
}

.gris-antracita {
  color: #333;
}

.gris-antracita-bg {
  background-color: #333;
}

.gris-oscuro {
  color: #999;
}

.gris-oscuro-bg {
  background-color: #999;
}

.verde-exito {
  color: #00e676;
}

.verde-exito-bg {
  background-color: #00e676;
}

.verde-suave {
  color: #66bb6a;
}

.verde-suave-bg {
  background-color: #66bb6a;
}

.naranja-alerta {
  color: #ff9800;
}

.naranja-alerta-bg {
  background-color: #ff9800;
}

.amarillo-advertencia {
  color: #ffc107;
}

.amarillo-advertencia-bg {
  background-color: #ffc107;
}

/*Fin Colores*/

/*Tipografia*/
h1 {
  font-family: Syne;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px;
  /* 100% */
}

h2 {
  font-family: Syne;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  /* 100% */
}

h3 {
  font-family: Syne;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
}

h4,
.h4 {
  font-family: Syne;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}

.textos {
  /* Textos Generales */
  font-family: Syne;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

.textos-bold {
  /* Textos Generales Bold */
  font-family: Syne;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
}

.textos-peques {
  /* Textos Pequeños */
  font-family: Syne;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 13px;
}

.textos-peques2 {
  /* Textos pequeños minimos */
  font-family: Syne;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 11px;
}

/*Fin Tipografia*/

a {
  text-decoration: none;
}

input {
  outline: none;
  border: 0px solid;
}

/*End::Global*/

/*Login*/
.inputs-login {
  width: 90%;
  outline: none;
  background-color: #16171c;
}

.inputs-login::placeholder {
  color: #fff;
  font-family: Syne;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

/* Para compatibilidad con diferentes navegadores */
.inputs-login::-webkit-input-placeholder {
  color: #fff;
  font-family: Syne;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

.inputs-login::-moz-placeholder {
  color: #fff;
  font-family: Syne;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

/*End::Login*/

/*Envio de restablecimiento*/

.img-logo-envio {
  width: 231px;
  height: 163px;
  margin-top: 4%;
}

.div-derecha-envio {
  width: 45%;
  height: 100%;
  display: flex;
  justify-content: end;
}

.logo-derecha-envio {
  width: 358px;
  height: 537px;
  margin-top: -124px;
}

/*End::Envio de restablecimiento*/

/*Reset*/
.p-reset {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1%;
  width: 100%;
  margin: 0%;
  color: var(--Naranja, #cc3131);
  margin-bottom: 1%;
}

.p-reset.valid {
  color: #00e676;
  /* verde para condiciones válidas */
}

.p-reset.invalid {
  color: #cc3131;
  /* rojo para condiciones inválidas */
}

.input2-reset {
  border-radius: 10px;
  border: 0px solid var(--Gris-3, #686868);
  width: 90%;
  height: 80%;
  outline: none;
}

.input2-reset-2 {
  border-radius: 10px;
  border: 0px solid var(--Gris-3, #686868);
  width: 90%;
  height: 80%;
  outline: none;
}

/*End::Reset*/

/*Sidebar*/

.comprimir-button {
  position: absolute;
  left: 15%;
  top: 10%;
  cursor: pointer;
  transition: all 0.5s linear;
  z-index: 3;
}

.content-sidebar {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 30%;
  gap: 5%;
  padding-left: 7%;
}

.content-sidebar>a {
  display: flex;
  align-items: center;
  width: 100%;
  height: 15%;
  gap: 4%;
  color: #fff;
  padding-left: 7%;
}

.selected-dashboard {
  color: #fff !important;
  border-radius: 50px;
  background: #e53935;
  display: flex;
  justify-content: start;
  align-items: center;
  width: 90% !important;
}

.selected-img {
  display: none;
}

.selected-dashboard .selected-img,
.selected-seguimiento .selected-img,
.selected-contabilidad .selected-img,
.selected-gestion .selected-img,
.selected-candidatos .selected-img,
.selected-empresas .selected-img,
.selected-calendario .selected-img,
.selected-usuarios .selected-img,
.selected-servicios .selected-img {
  display: block;
}

.selected-dashboard .noselected-img,
.selected-seguimiento .noselected-img,
.selected-contabilidad .noselected-img,
.selected-gestion .noselected-img,
.selected-candidatos .noselected-img,
.selected-empresas .noselected-img,
.selected-calendario .noselected-img,
.selected-usuarios .noselected-img,
.selected-servicios .noselected-img {
  display: none;
}

/*End::sidebar*/

/*box*/
.estatistics-box {
  border-radius: 15px;
  border: 1px solid var(--Gris-claro, #dfdfdf);
  background: var(--Blanco, #fff);
  box-shadow: 70px 37px 22px 0px rgba(77, 77, 77, 0),
    45px 24px 20px 0px rgba(77, 77, 77, 0.01),
    25px 13px 17px 0px rgba(77, 77, 77, 0.05),
    11px 6px 13px 0px rgba(77, 77, 77, 0.09),
    3px 1px 7px 0px rgba(77, 77, 77, 0.1);
  backdrop-filter: blur(17.5px);
}

/*box*/

/*videos*/
.bg-video {
  border-radius: 30px;
  background: linear-gradient(180deg,
      #9d9d9d3d 0%,
      #7575757d 8.73%,
      #222 84.23%);
}

/*videos*/

/* scroll */
.custom-scroll::-webkit-scrollbar {
  width: 14px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: #333;
  border-radius: 10px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #16171c;
  border-radius: 10px;
  border: 3px solid #333;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background-color: #16171c;
}

.custom-scroll::-webkit-scrollbar-button {
  display: none;
  /* Ocultar los botones de la barra de desplazamiento */
}

/* Firefox */
.custom-scroll {
  scrollbar-width: 14px;
}

/* scroll */

/* drawer */
.custom-popup .ant-drawer-content-wrapper {
  height: 45%;
  top: 24%;
  right: 32%;
}

.drawer-create-signal .ant-drawer-content-wrapper {
  height: 25%;
  top: 37%;
  right: 28%;
}

/* drawer */

.custom-arrow {
  @apply absolute top-[50%] transform -translate-y-1/2 cursor-pointer z-10;
}

.custom-prev {
  @apply left-[-20px];
  /* Ajusta según necesites */
}

.custom-next {
  @apply right-[-20px];
}

/* Estilos para los switches de Ant Design */
.ant-switch.ant-switch-checked {
    background: #00e676 !important;
}

.ant-switch {
    background: #d32f2f !important;
}

.ant-switch:hover:not(.ant-switch-disabled) {
    background: #ec2b2b !important;
}

.ant-switch.ant-switch-checked:hover:not(.ant-switch-disabled) {
    background: #00e677c0 !important;
}

/* Estilos para asegurar que se apliquen en producción */
:root .ant-switch.ant-switch-checked {
    background: #00e676 !important;
}

:root .ant-switch {
    background: #d32f2f !important;
}

:root .ant-switch:hover:not(.ant-switch-disabled) {
    background: #ec2b2b !important;
}

:root .ant-switch.ant-switch-checked:hover:not(.ant-switch-disabled) {
    background: #00e677c0 !important;
}

/* Oculta elementos no deseados de Google */
.goog-te-banner-frame,
.goog-te-gadget-icon,
.goog-logo-link,
.goog-te-footer {
  display: none !important;
}

/* Estilo para textos traducidos */
body {
  top: 0 !important;
}

.goog-tooltip {
  display: none !important;
}

.goog-tooltip:hover {
  display: none !important;
}

.goog-text-highlight {
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
}

/* traductor */
.google-translate-select-dropdown__menu {
  width: 119%;
  background-color: #16171c !important;
  border-radius: 18px !important;
  border-color: #16171c !important;
}

.google-translate-select {
  width: 8%;
  height: 41%;
  display: flex;
  align-items: center;
}

.google-translate-select-language {
  color: #fff;
  font-family: Syne;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
}

.google-translate-select-icon {
  background-image: url("/svg/header/select.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.google-translate-select-icon svg {
  display: none;
}

/* traductor */

/* carrusel */

.ant-upload-wrapper .ant-upload-drag:not(.ant-upload-disabled):hover,
.ant-upload-wrapper .ant-upload-drag-hover:not(.ant-upload-disabled) {
  border-color: #d32f2f !important;
}

.ant-upload-wrapper .ant-upload-drag-hover .ant-upload-text-icon {
  color: #d32f2f !important;
}

/* carrusel */

/* Sweet alert */
.custom-popup-class {
  border: 1px solid #fff !important;
  border-radius: 10px !important;
}

.custom-confirm-button {
  border-radius: 20px !important;
  padding: 6px 24px !important;
  font-size: 14px !important;
}

.custom-cancel-button {
  border-radius: 20px !important;
  padding: 6px 24px !important;
  font-size: 14px !important;
  border: 1px solid #333 !important;
}

@keyframes shake {

  0%,
  100% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(-10deg);
  }

  75% {
    transform: rotate(10deg);
  }
}

.custom-image-class {
  animation: shake 1s ease-in-out;
  animation-iteration-count: 1;
  /* Hará que la animación se ejecute 1 vez (1 segundos) */
  animation-fill-mode: forwards;
  /* Mantiene el estado final */
  transform-origin: center center;
}

/* Sweet alert */

@keyframes incres {
  0% {
    width: 0%;
  }

  100% {
    width: 32.7%;
  }
}

@keyframes decres {
  0% {
    width: 32.7%;
  }

  100% {
    width: 0%;
  }
}

.custom-confirm {
  animation: incres 0.5s ease-in-out forwards;
}

.custom-confirm.shrink {
  animation: decres 0.5s ease-in-out forwards;
}

/* Rango de fecha */
.custom-rangepicker {
  color: #fff !important;
}

.custom-rangepicker .ant-picker-input>input {
  color: #fff !important;
  padding-left: 10%;
}

.custom-rangepicker .ant-picker-input ::placeholder {
  color: #fff !important;
}

:where(.css-dev-only-do-not-override-1x4h184).ant-picker .ant-picker-separator {
  color: #e53935 !important;
}

.ant-picker .ant-picker-suffix {
  color: #e53935 !important;
  padding-right: 5%;
}

.ant-picker .ant-picker-clear {
  color: #e53935 !important;
  padding-right: 2.5%;
}

.custom-rangepicker .ant-picker {
  background-color: #1c1616 !important;
  border-color: #434343 !important;
}

.ant-picker-range .ant-picker-active-bar {
  background-color: #e53935 !important;
}

:where(.css-dev-only-do-not-override-1x4h184).ant-picker {
  border-radius: 18px;
  padding: 2%;
}

/* Estilos del popup de calendario */
.ant-picker-dropdown {
  background-color: #1e1e1e !important;
  /* fondo oscuro */
  color: white !important;
}

/* Días del calendario */
.ant-picker-cell-inner {
  color: white !important;
}

/* Días fuera del mes actual (gris claro normalmente) */
.ant-picker-cell-in-view.ant-picker-cell-disabled .ant-picker-cell-inner {
  color: rgba(255, 255, 255, 0.3) !important;
}

/* Evita que las celdas "huecas" (como fuera del mes) se vean raras */
.ant-picker-cell-disabled .ant-picker-cell-inner {
  color: rgba(255, 255, 255, 0.2) !important;
}

/* Header del calendario (meses y años) */
.ant-picker-header {
  background-color: #16171c !important;
  color: white !important;
  border-bottom: 1px solid #333;
}

/* Encabezado de días (Su, Mo, etc) */
.ant-picker-content thead>tr>th {
  color: #ffffffb0 !important;
}

/* Hover sobre celdas */
.ant-picker-cell:hover .ant-picker-cell-inner {
  background-color: #333 !important;
}

/* Día seleccionado */
.ant-picker-cell-selected .ant-picker-cell-inner,
.ant-picker-cell-range-start .ant-picker-cell-inner,
.ant-picker-cell-range-end .ant-picker-cell-inner {
  background-color: #e53935 !important;
  color: white !important;
}

/* Rango seleccionado */
.ant-picker-cell-in-range .ant-picker-cell-inner {
  color: white !important;
}

/* Botones de navegación */
.ant-picker-header button {
  color: white !important;
}

/* Fondo completo del calendario emergente */
.ant-picker-panel-container {
  background-color: #16171c !important;
}

/* Fondo blanco que aún queda por defecto */
.ant-picker-dropdown,
.ant-picker-panel {
  background-color: #16171c !important;
}

/* Día de hoy (hoy) - cambia el borde azul por rojo */
.ant-picker-cell-today .ant-picker-cell-inner::before {
  border: 1px solid #e53935 !important;
}

/* Cambia el fondo del rango seleccionado (la franja azul clarita) */
.ant-picker-cell-in-range::before {
  background: #292929 !important;
}

/* Rango de fecha */

/* Loader */ 
.loader {
  width: 120px;
  height: 15px;
  background-color: rgb(15, 15, 15);
  border-radius: 5px;
  overflow: hidden;
}

.child {
  width: 60px;
  height: 100%;
  background-color: #E73B1E;
  border-radius: 5px;
  z-index: 0;
  margin-left: -60px;
  animation: go 1s 0s infinite;
}

@keyframes go {
  from {
    margin-left: -100px;
    width: 80px;
  }
  to {
    width: 30px;
    margin-left: 110px;
  }
}

ul {
  list-style: none;
}
/* Loader */

.loading-symbols {
  content: "Loading Symbols";
  animation: text-loading 1.5s infinite;
  -webkit-animation: text-loading 1.5s infinite;
}

@keyframes text-loading {
  0% {
    content: "Loading Symbols";
  }
  20% {
    content: "Loading Symbols.";
  }
  50% {
    content: "Loading Symbols..";
  }
  100% {
    content: "Loading Symbols...";
  }
}



.text-loading::after {
  content: "Sending";
  animation: text-loading 1.5s infinite;
  -webkit-animation: text-loading 1.5s infinite;
}

@keyframes text-loading {
  0% {
    content: "Sending";
  }
  20% {
    content: "Sending.";
  }
  50% {
    content: "Sending..";
  }
  100% {
    content: "Sending...";
  }
}

.text-loading-register::after {
  content: "Registering";
  animation: text-loading-register 1.5s infinite;
  -webkit-animation: text-loading-register 1.5s infinite;
}

@keyframes text-loading-register {
  0% {
    content: "Registering";
  }
  20% {
    content: "Registering.";
  }
  50% {
    content: "Registering..";
  }
  100% {
    content: "Registering...";
  }
}

.text-login::after {
  content: "Logging in";
  animation: text-login 1.5s infinite;
  -webkit-animation: text-login 1.5s infinite;
}

@keyframes text-login {
  0% {
    content: "Logging in";
  }
  20% { 
    content: "Logging in.";
  }
  50% {
    content: "Logging in..";
  }
  100% {
    content: "Logging in...";
  }
}

.text-loading-edit::after {
  content: "Saving";
  animation: text-loading-edit 1.5s infinite;
  -webkit-animation: text-loading-edit 1.5s infinite;
}

@keyframes text-loading-edit {
  0% {
    content: "Saving";
  }
  20% {
    content: "Saving.";
  }
  50% {
    content: "Saving..";
  }
  100% {
    content: "Saving...";
  }
}
 .text-updating::after {
  content: "Updating";
  animation: text-updating 1.5s infinite;
  -webkit-animation: text-updating 1.5s infinite;
 }

 @keyframes text-updating {
  0% {
    content: "Updating";
  }
  20% {
    content: "Updating.";
  }
  50% {
    content: "Updating..";
  }
  100% {
    content: "Updating...";
  }
 }

 /* Personaliza el fondo del select y el color de la opción seleccionada */
.custom-select {
  background-color: #23242a !important; /* Cambia este color al que prefieras */
  color: #fff;
  border: 1px solid #333;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
}

.custom-select:focus {
  border-color: #00000000; /* Cambia este color al que prefieras para el focus */
  box-shadow: 0 0 0 2px #00000000;
}

.subscription-button {
  transition: all 0.5s ease;
  position: relative;
  overflow: hidden;
  padding: 5px 15px;
  border-radius: 20px;
  background: transparent;
  border: 1px solid;
  min-width: 80px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.subscription-button.verde-exito {
  color: #00e676;
  border-color: #00e676;
}

.subscription-button.rojo-alerta {
  color: #e53935;
  border-color: #e53935;
}

.subscription-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: currentColor;
  opacity: 0.1;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s ease;
}

.subscription-button:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

@keyframes textFadeOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-10px);
  }
}

@keyframes textFadeIn {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.subscription-button span {
  display: inline-block;
  position: absolute;
  animation: textFadeIn 0.5s ease forwards;
}

.subscription-button span.fade-out {
  animation: textFadeOut 0.5s ease forwards;
}

/* Responsive laptop */
@media (max-width: 1729px) {

  /*Tipografia*/
  h1 {
    font-family: Syne;
    font-size: 51.2px;
    /* 64px - 20% */
    font-style: normal;
    font-weight: 700;
    line-height: 51.2px;
    /* 64px - 20% */
  }

  h2 {
    font-family: Syne;
    font-size: 32px;
    /* 40px - 20% */
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    /* 40px - 20% */
  }

  h3 {
    font-family: Syne;
    font-size: 25.6px;
    /* 32px - 20% */
    font-style: normal;
    font-weight: 600;
    line-height: 25.6px;
    /* 32px - 20% */
  }

  h4,
  .h4 {
    font-family: Syne;
    font-size: 14.4px;
    /* 18px - 20% */
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
    /* 20px - 20% */
  }

  .textos {
    font-family: Syne;
    font-size: 12.8px;
    /* 16px - 20% */
    font-style: normal;
    font-weight: 400;
    line-height: 12.8px;
    /* 16px - 20% */
  }

  .textos-bold {
    font-family: Syne;
    font-size: 12.8px;
    /* 16px - 20% */
    font-style: normal;
    font-weight: 700;
  }

  .textos-peques {
    font-family: Syne;
    font-size: 10.4px;
    /* 13px - 20% */
    font-style: normal;
    font-weight: 400;
    line-height: 10.4px;
    /* 13px - 20% */
  }

  .textos-peques2 {
    font-family: Syne;
    font-size: 8.8px;
    /* 11px - 20% */
    font-style: normal;
    font-weight: 400;
    line-height: 8.8px;
    /* 11px - 20% */
  }

  /*Fin Tipografia*/

  /*Login*/
  .inputs-login::placeholder {
    color: #fff;
    font-family: Syne;
    font-size: 12.8px;
    /* 16px - 20% */
    font-style: normal;
    font-weight: 400;
    line-height: 12.8px;
    /* 16px - 20% */
  }

  /* Para compatibilidad con diferentes navegadores */
  .inputs-login::-webkit-input-placeholder {
    color: #fff;
    font-family: Syne;
    font-size: 12.8px;
    /* 16px - 20% */
    font-style: normal;
    font-weight: 400;
    line-height: 12.8px;
  }

  .inputs-login::-moz-placeholder {
    color: #fff;
    font-family: Syne;
    font-size: 12.8px;
    /* 16px - 20% */
    font-style: normal;
    font-weight: 400;
    line-height: 12.8px;
  }

  /*End::Login*/

  /* drawer */
  .custom-popup .ant-drawer-content-wrapper {
    height: 24rem;
    top: 20rem;
    right: 20rem;
  }

  .drawer-create-signal .ant-drawer-content-wrapper {
    height: 21%;
    top: 35%;
    right: 20%;
  }

  /* drawer */
}

@media (max-width: 1230px) {

  /*Tipografia*/
  h1 {
    font-family: Syne;
    font-size: 43.52px;
    /* 64px - 32% */
    font-style: normal;
    font-weight: 700;
    line-height: 43.52px;
  }

  h2 {
    font-family: Syne;
    font-size: 27.2px;
    /* 40px - 32% */
    font-style: normal;
    font-weight: 700;
    line-height: 27.2px;
  }

  h3 {
    font-family: Syne;
    font-size: 21.76px;
    /* 32px - 32% */
    font-style: normal;
    font-weight: 600;
    line-height: 21.76px;
  }

  h4,
  .h4 {
    font-family: Syne;
    font-size: 12.24px;
    /* 18px - 32% */
    font-style: normal;
    font-weight: 600;
    line-height: 13.6px;
  }

  .textos {
    font-family: Syne;
    font-size: 10.88px;
    /* 16px - 32% */
    font-style: normal;
    font-weight: 400;
    line-height: 10.88px;
  }

  .textos-bold {
    font-family: Syne;
    font-size: 10.88px;
    /* 16px - 32% */
    font-style: normal;
    font-weight: 700;
  }

  .textos-peques {
    font-family: Syne;
    font-size: 8.84px;
    /* 13px - 32% */
    font-style: normal;
    font-weight: 400;
    line-height: 8.84px;
  }

  .textos-peques2 {
    font-family: Syne;
    font-size: 7.48px;
    /* 11px - 32% */
    font-style: normal;
    font-weight: 400;
    line-height: 7.48px;
  }

  /*Fin Tipografia*/

  /* drawer */
  .custom-popup .ant-drawer-content-wrapper {
    top: 20rem;
    right: 8rem;
  }

  .drawer-create-signal .ant-drawer-content-wrapper {
    height: 19%;
    top: 35%;
    right: 20%;
  }
  /* drawer */
}